/* Styles for WATS 3020 Text Adventure */

#story-text {
    font-weight: 300;
    font-size: 1.2rem;
}
button#undo {
    border: none;
    background: none;
    cursor: pointer;
}
button#undo:hover {
    border: none;
    background: #333;
    color: #fff;
}
#choices {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    white-space: nowrap;
}
#choices li {
    white-space: normal;
    padding: 0.5rem;
    background: #e8e8e8;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 1rem 0;
}
#choices li:hover {
    background: #333;
    color: #fff;
}

h1, h2 {
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}
body {
    color: rgb(65, 64, 64);
    font-family: Helvetica, Arial, sans-serif;
}

.bodyBox {
    width: 80%;
    margin: 5rem auto;
    padding: 3rem 2rem;
    border: 4px double #666;
    background-color: rgba(255,255,255, 0.5);
} 

html {
    background-image: url('../images/Forest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}